<?xml version="1.0"?>
<model>
  <name>TurtleBot3 Waffle R200</name>
  <version>0.1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>tanishi-robotics</name>
  </author>
  <description>
    TurtleBot3 Waffle model using the built-in Intel RealSense R200 RGB camera and an added R200-aligned depth sensor.
  </description>
</model>
